{{#if courses.length}}
  <div class="row">
    {{#each courses}}
      <div class="col s12 m6"> <!-- на маленьких экранах один элемент в строке, на средних - по два -->
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="{{title}}">
          </div>
          <div class="card-content">
            <span class="card-title">{{title}}</span>
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action actions">
            <a href="/courses/{{id}}" target="_blank">{{__ 'more details'}}</a>
            <a href="/courses/{{id}}/edit?allow=true">{{__ 'Edit'}}</a>
            <form action="/card/add" method="POST">
              <input type="hidden" name="id" value="{{id}}">
              <button type="submit" class="btn btn-primary">{{__ 'Buy'}}</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>{{__ 'This technology is not yet available'}}</p>
{{/if}}

